/*---------------- Highlight Code ----------------*/

pre[data-language]::before {
  content: attr(data-language);
  font-weight: 600;
  text-transform: uppercase;
}

p code {
  background: var(--background-darker);
  border: 1px solid #1d3140;
  border-radius: 10px;
  padding: 0.14rem 0.4rem;
  white-space: pre;
}

.hljs {
  background-image: radial-gradient(#292e36, #1e2227);
  color: #abb2bf;
  display: block;
  font-size: 13px;
  font-family: "Fira Code iScript", monospace;
  font-weight: 600;
  overflow-x: auto;
  padding: 1.5rem 1.2rem;
  white-space: pre-wrap;
  border-radius: 1rem;
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
  font-weight: 900;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #98c379;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #43464c;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}