/*---------------- Comments ----------------*/

.comments {
  font-size: 15px;
}

#comment-editor {
  width: 100%;
  border: none;
}

.comments-title {
  text-align: center;
  margin: 3rem 0;
}

.comment-block {
  display: flex;
  flex-flow: row wrap;
}

.comment-avatar img {
  border-radius: 50%;
}

.comment-author {
  font-size: 14px;
  font-weight: 600;
}

.i-circle-check {
  height: 13px;
}

.comment-time {
  color: var(--text-color-darker);
  font-size: 11px;
  margin-left: 5px;
}

.comment-content {
  background-color: var(--background-darker);
  border: 1px solid var(--text-color-darker);
  border-radius: 1rem;
  margin-left: 10px;
  padding: 010px 1rem;
}

.comment-footer {
  padding-left: 3rem;
  width: 100%;
}

.comments-editor {
  text-align: center;
}

.comment-content,
.comments-replies {
  flex-grow: 1;
}

.comments-replies {
  padding-left: 3rem;
}

.comment-deleted {
  border: 1px solid var(--quaternary-color);
}

.comment-restore-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  font-size: 1.2rem;
  margin: 1rem auto;
  align-items: center;
}

.comment-restore-button.is-replying {
  display: flex;
}

.comment-restore-button .i-Comment {
  margin-right: 5px;
  transform: rotate(270deg);
}

.comment-reply-button,
.comment-delete-button {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  margin: 1rem;
}

.comment-reply-button {
  color: var(--terciary-color);
}

.comment-delete-button {
  color: var(--quaternary-color);
  position: relative;
  margin-left: 2rem;
}

.comment-delete-button .i-Delete {
  position: absolute;
  left: -21px;
  top: -5px;
}

#reply-form {
  margin-left: 3rem;
}