/*---------------- Individual Post ----------------*/


/*---------------- Post Pagination ----------------*/

.previous-next {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 0 1rem;
}

a.pager-button:hover {
  text-decoration: none;
}

.pager-button {
  border-bottom: 1px solid;
  padding: 1rem;
  text-align: center;
  display: block;
  width: 45%;
}

.pager-button p {
  font-size: 0.8em;
  margin: 5px;
}

.pager-button h2 {
  font-size: 1rem;
}