/*---------------- Individual Post ----------------*/

.article {
  border-radius: 1rem;
  border: 1px solid var(--text-color-darker);
  padding: 1rem 2rem;
  background: var(--background-darker);
  margin: 2rem 0;
}

.article>img {
  border-radius: 10px;
  display: flex;
  margin: auto;
}

.article p {
  line-height: 1.4;
}

.article li>p {
  font-size: 14px;
  margin-top: 0;
  color: var(--text-color-darker);
}

.article>ol>li>ol,
.article>ol,
.article>ul>li>ul,
.article>ul {
  list-style-type: auto;
  margin-bottom: 1rem;
  padding-left: 2em;
}

.post__profile {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: end;
  font-size: 12px;
  margin-bottom: 1rem;
}

.profile--name {
  font-weight: 600;
}

.post__profile--img {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 2rem;
}

.breadcrumb__list {
  display: flex;
  align-items: stretch;
  padding: 10px 10px 10px 0;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid var(--background-dark);
  border-top: 1px solid var(--background-dark);
  background-image: radial-gradient(#292e36, #1e2227);
}

.breadcrumb__item,
.breadcrumb__separator {
  padding: 10px;
}

/*---------------- Post Pagination ----------------*/

.previous-next {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 0 1rem;
}

a.pager-button:hover {
  text-decoration: none;
}

.pager-button {
  border-bottom: 1px solid;
  padding: 1rem;
  text-align: center;
  display: block;
  width: 45%;
}

.pager-button p {
  font-size: 0.8em;
  margin: 5px;
}

.pager-button h2 {
  font-size: 1rem;
}